FLORIDAY_CLIENT_ID=YOUR_CLIENT_ID
FLORIDAY_CLIENT_SECRET=YOUR_CLIENT_SECRET
FLORIDAY_AUTH_URL="https://idm.staging.floriday.io/oauth2/ausmw6b47z1BnlHkw0h7/v1/token"
FLORIDAY_BASE_URL="https://api.staging.floriday.io/suppliers-api-2024v1"
FLORIDAY_API_KEY=YOUR_API_KEY